/* ---------------------------------------------------------------
CSS Reset
--------------------------------------------------------------- */

/*
font-sizes: default - 1em, h3: 1.2em, h2: 1.4em, h1: 1.6em, line-height: 1.6 (always use line-height in the body and with a 'multiplier value' like mentioned above, and not percent/ems), margin: 0 auto, A good practice is to have the line-height as 1.5 times that of the font-size.<br>
Put css attributes in alphabetical order or any other order and stick to it.
Generally, it's a good idea to make the labels and inputs display as block level elements and then display:inline those that are meant to be used in a single line. Attribute selectors can help in this, much like input[type=checkbox] {display:inline}
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------------
CSS Variables
--------------------------------------------------------------- */

:root {
  --Mustard: #ffc600;
  --Navy: #001f3f;
  --Blue: #0074D9;
  --Aqua: #7FDBFF;
  --Teal: #39CCCC;
  --Olive: #3D9970;
  --Green: #2ECC40;
  --Lime-Green: #01FF70;
  --Yellow: #FFDC00;
  --Orange: #FF851B;
  --Red: #FF4136;
  --Maroon: #85144B;
  --Fuchsia: #F012BE;
  --Purple: #B10DC9;
  --Black: #111111;
  --Grey: #AAAAAA;
  --Concrete: #95a5a6;
  --Asbestos: #7f8c8d;
  --Silver: #DDDDDD;
  --CloudWhite: #ecf0f1;
  --SunFlower: #f1c40f;
  --Alizarin: #e74c3c;
  --Pomegranate: #c0392b;
  --PeterRiver: #3498db;
  --BelizeHole: #2980b9;
  --MidnightBlue: #2c3e50;
  --WetAsphalt: #34495e;
  --Amethyst: #9b59b6;
  --Wisteria: #8e44ad;
}

/* ---------------------------------------------------------------
Base CSS
--------------------------------------------------------------- */


h1, h2, h3 {
    font-family: 'Merriweather', sans-serif;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

#container {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

nav {
    background-color: var(--Black);
    padding: 2%;
}

nav a {
    text-decoration: none;
    color: var(--CloudWhite);
}

.the-divisions {
    display:flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

#division-01, #division-06 {

}
#division-02, #division-04 {

}
#division-03, #division-05 {

}

#division-02 .division-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

#division-02 img {
    width: 100px;
}

#footer {
    padding: 2%;
    background-color: var(--Black);
}

#footer a {
    color: var(--CloudWhite);
    text-decoration: none;
}

/* ---------------------------------------------------------------
Media Queries
--------------------------------------------------------------- */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
